<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <% if (htmlWebpackPlugin.options.files.css) { %>
  <% htmlWebpackPlugin.options.files.css.forEach(function(name){ %>
  <link rel="stylesheet" type="text/css" href="<%= name %>"> <% }) %>
  <% } %>
</head>
<body>
<div id="container" class="animated fadeIn">
  <box>
    <breadcrumbs params="path:'preQlf'"></breadcrumbs>
    <box-filter params="title:'${__('preqlf_title')}'">
      <div class="pull-right">
        <button id='submitId' class="btn btn-primary btn-sm  m-r-sm" data-bind="click:$root.preqlfSubmit">${__('preqlf_submit')}</button>
        <a class="btn btn-outline btn-sm  m-r-sm" data-bind = "attr:{href:'../bidtradelist/index.${__('locale')}.html'+ window.location.hash}"><span class="fa fa-reply"></span>返回</a>
      </div>
    </box-filter>
    <box-content params="title: '基本信息'">
      <div class="main-title u-row margin-bottom-10">
           <div class="u-col-sm-12">
             <div class="pull-left u-col-sm-4">
                <span data-bind="text: $root.model.ref('title')"></span>
             </div>
             <div class="pull-left u-col-sm-8">
                <button style="background-color:#DDFFDD" disabled data-bind="visible: $root.applyVis">报名已截止</button>
             </div>
           </div>
      </div>
       <div class="u-row">
          <div class="clearfix margin-bottom-10" >
            <div class="pull-left u-col-12 " style="line-height: 34px;">
                <div class="pull-left u-col-2">
                  <span>编号:</span> <span data-bind="text:$root.model.ref('code')"></span>
                </div>
                <div class="pull-left u-col-2">
                  <span>发起公司:</span> <span data-bind="text:$root.model.ref('enterpriseName')"></span>
                </div>
                <div class="pull-left u-col-8">
                <div class="u-col-4 text-right">距报名截止时间还有：</div>
                <div class="text-right u-col-6" id="timer">
                </div>
                </div>
            </div>
       </div>
      <div class="u-row">
        <div class="clearfix" >
            <div class="pull-left u-col-12 " style="margin-left:15px">
               <div class="pull-left u-col-5">
              <span>竞价物料:</span> <span data-bind = "text:$root.model.ref('materials')"></span>
              </div>
              <div class="pull-left u-col-5">
                <a href="" style="color:blue"data-bind="attr:{href:$root.urladdress, title: '查看竞价' }">查看竞价</a>
              </div>
          </div>
        </div>
      </div>
    </box-content>
    <box-content>
      <div class=" clearfix margin-bottom-10">
        <span class="pull-left u-from-static">
          收到的报名 &nbsp;&nbsp;<label class="badge color-waring" data-bind = "text:$root.receiveApply()"></label>
        </span>
          <!--<label class="u-col-1 text-right u-form-label u-from-static">状态:</label>
          <div class="u-col-3">
            <u-select style="display:inline-block;width:100px" params='data:{model:$root.model,comboData: $root.comboData},umeta:{"data":"model","datasource":"comboData"}'>
            </u-select>
          </div>-->
        <div class="pull-right">
        <button class="btn btn-primary btn-sm  m-r-sm" data-bind="click:$root.preqlfPass">通过</button>
         <button class="btn u-button-warning btn-sm  m-r-sm" data-bind="click:$root.preqlfOut">淘汰</button>

      </div>
      </div>
      <u-grid params="config: $root.detail_grid"></u-grid>
    </box-content>
  </box>
</div>

<% if (htmlWebpackPlugin.options.files.js) { %>
<% htmlWebpackPlugin.options.files.js.forEach(function(name){ %>
<script type="text/javascript" src="<%= name %>"></script><% }) %>
<% } %>
</body>
</html>
