node_modules
*.log

# Exclude compiled files
build
dist

# Exclude IDE project folders
.happypack
.idea
.vscode
.project
*.sublime-project
*.sublime-workspace

# OS files
# vi files
config/webpack.dev.config.js
