<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <% if (htmlWebpackPlugin.options.files.css) { %>
    <% htmlWebpackPlugin.options.files.css.forEach(function(name){ %>
      <link rel="stylesheet" type="text/css" href="<%= name %>">
    <% }) %>
  <% } %>
  <style type="text/css">
    /* .box-sticky-title{
      width: 25%!important;
    } */
    .u-col-a {
      width: 17%;
      float: left;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box;
    }
    .u-col-b {
      width: 33%;
      float: left;
      position: relative;
      min-height: 1px;
      padding-left: 15px;
      padding-right: 15px;
      box-sizing: border-box;
    }
    .u-grid-content-td-div {
      height: unset!important;
    }
    .u-grid-edit-placeholder-div {
      height: 100px!important;
    }
  </style>


<script src="http://design.yonyoucloud.com/static/uploader/js/webuploader.js"></script>
<script src="http://design.yonyoucloud.com/static/uui/latest/js/u-polyfill.js"></script>
<script src="http://design.yonyoucloud.com/static/uui/latest/js/u-grid.js"></script>
</head>
<body>
  <div id="container" class="animated fadeIn">
    <box>
      <breadcrumbs params="path:'contractsampletext'"></breadcrumbs>
      <box-filter>
      <box-sticky params="title:'编码规则'" style="font-size:18px;">
        <div class="u-col-8 text-right">
          <button class="btn btn-primary btn-sm  m-r-sm" data-bind="click: $root.add"><span class="fa fa-plus"></span>&nbsp;新增</button>
          <button class="btn btn-primary btn-sm  m-r-sm" data-bind="click: $root.save"><span class="fa fa-save"></span>&nbsp;保存</button>
          <button class="btn btn-danger btn-sm" data-bind="click: $root.delete"><span class="fa fa-trash"></span>&nbsp;删除</button>
        </div>
      </box-sticky>
      </box-filter>
      <box-content params="title:''" id="basic">
        <div id="treebill">
          <div class="u-row">
            <div class="u-col-4" style="height: 464px;overflow: auto;">
              <div class="box-content-title">编码规则</div>
              <u-tree class="form-control" params='data:{model:$root.treemodel,treeSetting:$root.treeOption},
                umeta:{"id":"tree","data":"model","idField":"id","pidField":"parentId","nameField":"name","setting":"treeSetting"}'>
              </u-tree>
            </div>
            <div class="u-col-8">
              <div class="box-content-title">基础信息</div>
              <div class="u-form-group">
                <label class="u-col-a u-form-group-sm u-form-label text-right"><span class="required">*</span> 规则编码 : </label>
                <div class="u-col-b">
                  <input type="text" class="u-form-control" data-bind="value: $root.model.ref('code')">
                </div>
                <label class="u-col-a u-form-group-sm u-form-label text-right"><span class="required">*</span> 规则名称 : </label>
                <div class="u-col-b">
                  <input type="text" class="u-form-control" data-bind="value: $root.model.ref('name')">
                </div>
              </div>
              <div class="u-form-group">
                <label class="u-col-a u-form-group-sm u-form-label text-right">编码长度 : </label>
                <div class="u-col-b">
                  <input type="text" class="u-form-control" data-bind="value: $root.model.ref('codelength')">
                </div>
                <label class="u-col-a u-form-group-sm u-form-label text-right">编码类型 : </label>
                <div class="u-col-b">
                  <input type="text" class="u-form-control" data-bind="value: $root.model.ref('codetype')" readonly/>
<!--                   <u-select params='vm:{data:$root.model,datasource:$root.elemtypeData}, umeta:{"field":"elemtype"}'/>
 -->                  <!-- <refer params="flag:0,type: 'contracttype', showrefer: $root.chooseContracttype, placeholder: '选择合同类型', showSearch: false, showtext: $root.model.ref('codetype'), value: $root.model.ref('id')"></refer> -->
                </div>
              </div>
            </div>
            <div class="u-col-8">
              <div class="box-content-title">规则信息</div>
              <box-sticky params="title:''" style="font-size:18px;">
                <div class="u-col-8 text-right">
                  <button class="btn btn-primary btn-sm  m-r-sm" data-bind="click: $root.addelem"><span class="fa fa-plus"></span>&nbsp;新增</button>
                  <button class="btn btn-primary btn-lg  m-r-sm" data-bind="click: $root.save"><span class="fa fa-save"></span>&nbsp;保存</button>
                  <button class="btn btn-danger btn-sm" data-bind="click: $root.deleteRows"><span class="fa fa-trash"></span>&nbsp;删除</button>
                </div>
              </box-sticky>
              <!-- <div class="u-col-8 text-right" style="padding-right:0;">
                <button class="u-button u-button-info pull-right" data-bind="click: $root.addMaterial" style="margin-bottom:5px;"><i class="uf uf-plus"></i>新增商品</button>
              </div> -->
              <u-grid params="config:$root.config"></u-grid>
              
              <div id="gridTest" u-meta='{"id":"grid","type":"grid","data":"gridmodel","columnMenu":false,"canDrag":false,"sortable":false,"canSwap":false,"editable":true,"editType":"default"}'>
                <div options='{"field":"elemtype","dataType":"String","title":"下拉","editType":"combo","editOptions":{"id":"combobox1","type":"combo","datasource":"elemtypeData"},"renderType":"comboRender"}'></div>
              </div>



            </div>
          </div>
        </div>
      </box-content>
    </box>
  </div>

<style>
  #treebill .ztree {
    overflow: hidden;
  }
</style>

  <% if (htmlWebpackPlugin.options.files.js) { %>
    <% htmlWebpackPlugin.options.files.js.forEach(function(name){ %>
      <script type="text/javascript" src="<%= name %>"></script>
    <% }) %>
  <% } %>
</body>

</script>
</html>