<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    <%= htmlWebpackPlugin.options.title %>
  </title>
  <% if (htmlWebpackPlugin.options.files.css) { %>
    <% htmlWebpackPlugin.options.files.css.forEach(function(name){ %>
      <link rel="stylesheet" type="text/css" href="<%= name %>">
    <% }) %>
  <% } %>
</head>

<body>
  <div id="container" class="animated fadeIn">
    <box>
      <breadcrumbs params="path:'btSupDetail'"></breadcrumbs>
      <box-sticky params="title:'竞价单'" style="font-size:18px;">
        <div class="u-col-6 text-center">
        </div>
        <div class="u-col-4 text-right">
          <button id='signId' class="btn btn-primary btn-sm  m-r-sm" style="display:none" data-bind="click:$root.sign">报名</button>
          <!--<a class="u-button u-button-info" data-bind="attr: {href: '../biddingApply/index.zh_CN.html?tradeid=335'}" style="margin-right:20px" data-bind="visible:true;click: local" style="margin-bottom:5px;">报名</button>-->
          <a class="btn btn-outline btn-sm  m-r-sm button-outline" data-bind = "click:function () { return window.history.go(-1)}">返回</a>
        </div>
      </box-sticky>
      <box-content params="title:$root.titleList[0]">
        <div class="u-form-group" id="basic_information">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            标题
          </label>
          <div class="u-col-3 line-36">
            <span data-bind="text: $root.model.ref('title')" ></span>
          </div>
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            采购企业
          </label>
          <div class="u-col-3 line-36">
            <span data-bind="text:$root.model.ref('purchaseEn')" ></span>
          </div>
        </div>
        <label class="u-col-12 text-left">物资信息</label>
        <u-grid params="config: $root.materialListCfg"></u-grid>
      </box-content>

      <box-content params="title: $root.titleList[2]">
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            经营模式
          </label>
          <div class="u-col-6 line-36">
            <span data-bind="text: $root.supBusiModeOpt($root.model.getValue('supBusinessMode'))"></span>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            业务覆盖范围
          </label>
          <div class="u-col-3 line-36">
            <span data-bind="text: $root.model.ref('supBusinessScope')"></span>
          </div>
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            注册资金
          </label>
          <div class="u-col-3 line-36">
            <span data-bind="text: $root.model.ref('supRegisterMoney')"></span><span class="fontgrey" style="margin-left:30px;">元以上</span>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 text-right u-form-label">
            收货地址
          </label>
          <div class="u-col-3 line-36">
            <span data-bind="text: $root.model.getValue('deliveryAddress')"></span>
          </div>
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            竞标保证金
          </label>
          <div class="u-col-3 line-36">
            <span data-bind="text: $root.model.ref('bidDeposit')"></span>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            付款方式
          </label>
          <div class="u-col-3 line-36">
            <span data-bind="text: $root.model.ref('paytype')"></span>
          </div>
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            交货条件
          </label>
          <div class="u-col-3 line-36">
            <span data-bind="text: $root.model.ref('deliveryCon')"></span>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            证件要求
          </label>
          <div class="u-col-3 line-36">
             <span data-bind="text: $root.supCertReqOpt($root.model.getValue('supCertificateRequire'))"></span>
          </div>
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            发票要求
          </label>
          <div class="u-col-3 line-36">
            <span data-bind="text: $root.supInvoiceOpt($root.model.getValue('supInvoiceRequire'))"></span>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            竞价附件
          </label>
          <div class="u-col-9 marTop-16 text-left">
          	<filesupload params="bidtradeId:$root.model.ref('id'),callbackDatas:function(data){techAttachList(data)},groupname:'bidtrade_editor',readonly:true,id:$root.model.ref('id'), index:0, enterpriseId:$root.model.ref('enterpriseId')">
						</filesupload>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            其他要求
          </label>
          <div class="u-col-6 line-36">
            <span data-bind="text: $root.model.ref('supOtherRequire')"></span>
          </div>
        </div>
      </box-content>

      <box-content params="title: $root.titleList[3]">
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            报名截止时间
          </label>
          <div class="u-col-3 line-36">
            <span data-bind="text: $root.model.ref('registEndTime')"></span>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            竞价开始时间
          </label>
          <div class="u-col-3 line-36">
            <span data-bind="text: $root.model.ref('bidStartTime')"></span>
          </div>
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            限时名次
          </label>
          <div class="u-col-3 line-36">
            <span data-bind="text: $root.model.ref('promptList')"></span>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            竞价时长
          </label>
          <div class="u-col-3 line-36 ">
            <span data-bind="text: $root.model.ref('biddingTime')"></span><span class="fontgrey" style="margin-left:30px;">分钟</span>
          </div>
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            延迟时长
          </label>
          <div class="u-col-3 line-36">
            <span data-bind="text: $root.model.ref('delayTime')"></span><span class="fontgrey" style="margin-left:30px;">分钟</span>
          </div>
        </div>
        <div class="u-form-group">
          <!--<label class="u-col-2 u-form-group-sm u-form-label text-right">
            竞价方式
          </label>
          <div class="u-col-3 line-36">
            <span data-bind="text: $root.bidTypeOpt($root.model.getValue('bidType'))"></span>
          </div>-->
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            最小价格步长
          </label>
          <div class="u-col-3 line-36">
            <span data-bind="text: $root.model.ref('lowBiddingStep')"></span></span><span class="fontgrey" style="margin-left:30px;">元</span>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            最高限价
          </label>
          <div class="u-col-3 line-36">
            <span data-bind="text: $root.model.ref('highPrice')"></span><span class="fontgrey" style="margin-left:30px;">元</span>
          </div>
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            最低限价
          </label>
          <div class="u-col-3 line-36">
            <span data-bind="text: $root.model.ref('lowPrice')"></span><span class="fontgrey" style="margin-left:30px;">元</span>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            竞价过程
          </label>
          <div class="u-col-6 line-36">
            <span data-bind="text: $root.bidProcessOpt($root.model.getValue('bidProcess'))"></span>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            资格审核
          </label>
          <div class="u-col-6 line-36">
            <span data-bind="text: $root.preQualificationOpt($root.model.getValue('preQualification'))"></span>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            监督人
          </label>
          <div class="u-col-6 line-36">
            <span data-bind="text: $root.model.ref('supervisorName')"></span>
          </div>
        </div>
      </box-content>

      <box-content params="title: $root.titleList[4]">
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            报价模式
          </label>
          <div class="u-col-6 line-36">
            <span data-bind="text: $root.quoteModeOpt($root.model.getValue('quoteMode'))"></span>
          </div>
        </div>
        <!--<u-grid id='templete_list' params="visible:$root.model.getValue('quoteMode')== 1,config: $root.templeteListCfg"></u-grid>-->
        <u-grid id='materialList' params="visible:$root.model.getValue('quoteMode')== 2,config: $root.materialListCfg1"></u-grid>
      </box-content>
    </box>
  </div>

  <% if (htmlWebpackPlugin.options.files.js) { %>
    <% htmlWebpackPlugin.options.files.js.forEach(function(name){ %>
      <script type="text/javascript" src="<%= name %>"></script>
    <% }) %>
  <% } %>
</body>
</html>
