<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>
			<%= htmlWebpackPlugin.options.title %>
		</title>
		<% if (htmlWebpackPlugin.options.files.css) { %>
		<% htmlWebpackPlugin.options.files.css.forEach(function(name){ %>
		<link rel="stylesheet" type="text/css" href="<%= name %>">
		<% }) %>
		<% } %>
	</head>

	<body>
		<div id="container" class="animated fadeIn">
			<box>
				<breadcrumbs params="path:'bdmonitorIf'"></breadcrumbs>
				<box-content>
					<div class="pull-right">
						<!--<button class="btn btn-primary btn-sm  m-r-sm" data-bind="click:$root.preqlfSubmit">踢出竞价</button>-->
						<a class="btn btn-outline btn-sm  m-r-sm" data-bind="click:function () { return window.history.go(-1)}"><span class="fa fa-reply"></span>返回</a>
					</div>
					<div class="u-row">
						<div class="clearfix margin-bottom-5">
							<div class="pull-left u-col-2">
								<strong data-bind="text:$root.model.ref('supplyName')"></strong><strong>供应商</strong>: 
								<span data-bind="text:$root.model.ref('bidquote')()?'在线':'离线'" style="background-color:red;color:white"></span>
							</div>
						</div>
					</div>
					<div class="u-row">
						<div class="clearfix margin-bottom-5">
							<div class="pull-left u-col-12 " style="line-height: 45px;">
								<div class="pull-left u-col-2">
									<span>竞价项目:</span> <span data-bind="text:$root.model.ref('bidName')"></span>
								</div>
								<div class="pull-left u-col-3">
									<span>截止时间:</span> <span data-bind="text:$root.model.ref('bidEndTime')"></span>
								</div>
							</div>
						</div>
						<u-grid params="config: $root.detail_grid">
						</u-grid>
				</box-content>
			</box>
			</div>

			<% if (htmlWebpackPlugin.options.files.js) { %>
			<% htmlWebpackPlugin.options.files.js.forEach(function(name){ %>
			<script type="text/javascript" src="<%= name %>"></script>
			<% }) %>
			<% } %>
	</body>

</html>