<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
<% if (htmlWebpackPlugin.options.files.css) { %>
    <% htmlWebpackPlugin.options.files.css.forEach(function(name){ %>
  <link rel="stylesheet" type="text/css" href="<%= name %>"> <% }) %>
<% } %>


</head>
<body>
<div id="container" class="u-container-fluid u-widget-bg">
    <breadcrumbs params="path:'bdHall'"></breadcrumbs>
    <box-sticky id="hallsticky">
        <div class="u-col-4">
          <div style="font-size: 22px;"><span data-bind="text:$parent.bidtrade.title"></span></div>
          <div class="u-col-12" style="padding:0">
          <span>编号：</span><span data-bind="text:$parent.bidtrade.code"></span>
          <span>发起方：</span><span data-bind="text:$parent.bidtrade.enterpriseName"></span>
        </div>
        </div>
        <div class="u-col-5 text-right">
          <div id="timer" style="display: inline-block;"></div>
        </div>
        <div class="u-col-2 text-right">
           <a class="btn btn-outline  m-r-sm" style="border:1px solid #aaa;margin-top: 10px;" data-bind = "click:function () { return window.history.go(-1)}"><span class="fa fa-reply"></span>&nbsp;返回</a>
        </div>
    </box-sticky>
    <div class="u-row" style="padding-left:15px;">
      <div class="u-col-3">
          <div class="ibox-content" style="height: 500px;">
            <p class="rank">&nbsp;&nbsp;竞价排名(共<span data-bind="text:sort().length"></span>家)</p>
            <ul class="ranking">
              <!-- ko foreach:sort -->
              <li>&nbsp;&nbsp;<span style="position: absolute; margin-top: 8px;" data-bind="text:$index()+1" class="index"></span>

                <span style="margin-left:30px" class="money">¥</span><span data-bind="text:latestPrice" class="money"></span>
                <span style="display:block;margin-left:40px;" data-bind="text:supplyName"></span>
                 <!--第<span data-bind="text:bidRound"></span>次-->
            </li>
              <!-- /ko -->
            </ul>
            </div>
        </div>
        <div class="u-col-6 ibox-content " style="height: 500px; OVERFLOW: auto; ">
              <div id="chart" ></div>
              <table class="styleone"  borderColor=#000000 width="100%" rules=rows cellspacing=0  align=left >
                  <thead>
                    <tr >
                        <!--<th>序号</th>-->
                        <th>时间</th>
                        <th>报价方</th>
                        <th>最新报价(元)</th>
                        <th>初始报价(元)</th>
                        <th>幅度</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- ko foreach:history -->
                      <tr>
                        <!--<td data-bind="text:$index()+1"></td>-->
                        <td data-bind="datetime:bidTime"></td>
                        <td data-bind="text:supplyName"></td>
                        <td class="money" data-bind="text:latestPrice"></td>
                        <td class="money" data-bind="text:initPrice"></td>
                        <td class="money" data-bind="text:range"></td>
                      </tr>
                    <!-- /ko -->
                  </tbody>
              </table>
            </div>
        <div class="u-col-3">
          <div class="ibox-content" style="height: 500px;">
            <p class="rank">竞价规则</p>
            <div class="u-row">
              <label class=" u-col-4 text-left padding-5 u-form-label">
                 开始时间:</label>
              <div class="u-col-8 padding-5">
                  <span data-bind="text:bidStartTime"></span>
              </div>
            </div>
            <div class="u-row">
              <label class=" u-col-4 text-left padding-5 u-form-label">
                 竞价时长:</label>
              <div class="u-col-6 padding-5">
                  <!--&nbsp;-->
                  <span data-bind="text:rule.biddingTime"></span>&nbsp;<span style="color:red">(分钟)</span>
              </div>
            </div>
            <div class="u-row">
              <label class=" u-col-4 text-left padding-5 u-form-label">
                 延迟时长:</label>
              <div class="u-col-6 padding-5">
                  <!--&nbsp;-->
                  <span data-bind="text:rule.delayTime"></span>&nbsp;<span style="color:red">(分钟)</span>
              </div>
            </div>
            <div class="u-row">
              <label class=" u-col-4 text-left padding-5 u-form-label">
                 限时名次:</label>
              <div class="u-col-6 padding-5">
                  <!--&nbsp;-->
                  <span data-bind="text:rule.promptList"></span>
              </div>
            </div>
            <div class="u-row">
              <label class=" u-col-4 text-left padding-5 u-form-label">
                 竞价方式:</label>
              <div class="u-col-6 padding-5">
                  <!--&nbsp;-->
                  <span data-bind="text:bidType"></span>
              </div>
            </div>
            <div class="u-row">
              <label class=" u-col-6 text-left padding-5 u-form-label">
                 最小价格步长:</label>
              <div class="u-col-6 padding-5">
                  <!--&nbsp;-->
                  <span data-bind="text:rule.lowBiddingStep"></span>&nbsp;<span style="color:red">(元)</span>
              </div>
            </div>
            <div class="u-row">
              <label class=" u-col-4 text-left padding-5 u-form-label">
                 最高限价:</label>
              <div class="u-col-6 padding-5">
                  <!--&nbsp;-->
                  <span data-bind="text:rule.highPrice"></span>&nbsp;<span style="color:red">(元)</span>
              </div>
            </div>
            <div class="u-row">
              <label class=" u-col-4 text-left padding-5 u-form-label">
                 最低限价:</label>
              <div class="u-col-6 padding-5">
                  <!--&nbsp;-->
                  <span data-bind="text:rule.lowPrice"></span>&nbsp;<span style="color:red">(元)</span>
              </div>
            </div>
            <div class="u-row">
              <label class=" u-col-4 text-left padding-5 u-form-label">
                 竞价过程:</label>
              <div class="u-col-6 padding-5">
                  <!--&nbsp;-->
                  <span data-bind="text:bidProcess"></span>
              </div>
            </div>

          </div>
        </div>
    </div>
    <div class="u-row">
      <div class="u-col-9" style="padding-right: 0px;">
        <div class="ibox-content" style="height: 380px;">
          <p class="rank_noborder">产品报价</p>
            <div class="u-row wid">
            <table style="border:1px solid #ccc" borderColor=#000000 borderColor=#000000 width="100%" rules=rows cellspacing=0  align=left >
              <thead>
                <tr colspan="4">
                  <th>物料名称</th>
                  <th>物料说明</th>
                  <th>采购数量</th>
                  <th>送货地址</th>
                  <th>需求时间</th>
                  <th>含税单价</th>
                  <th>税率</th>
                </tr>
              </thead>
              <tbody>
                <!-- ko foreach:bidquote.bidquoteblist -->
                  <tr>
                    <td data-bind="text:materialName"></td>
                    <td data-bind="text:materialNote"></td>
                    <td data-bind="text:purNum"></td>
                    <td data-bind="text:address"></td>
                    <td data-bind="date:reqTime"></td>
                    <!-- <td data-bind="text:bidquote.material.taxPrice"></td> -->
                    <td> <input data-bind="value:taxPrice" type="text"> </td>
                    <td ><input data-bind="value:taxRate" type="text">%</td>
                  </tr>
                <!-- /ko --> 
              </tbody>
            </table>
          </div>
          <div id="total">
            <p style="float: right">合计金额:<span class="money" style="font-size:18px;">￥</span><span style="font-size:18px;" class="money" data-bind="text:bidquote.bidPrice"></span>
                        <button class="btn btn-primary btn-sm  m-r-sm " data-bind="click:tj,visible:shouldShowMessage">提交</button></p>

            <p>产品总价: <span class="money">￥</span><span class="money" data-bind="text:bidquote.total"></span> <span style="margin-left:30px;">物流费用:</span><input data-bind="value:bidquote.freight"/></p>
          </div>
        </div>
        </div>
        <div class="u-col-3">
          <div class="ibox-content" style="height:380px; margin-left: 4px;">
            <p class="rank">聊天室</p>
            <div class="palne-message" data-bind="foreach: message" >
              <div class="message">
                <div data-bind="text:sendtime"></div>
                <span data-bind="text:info"></span>
                <span class="message-name" data-bind="text: text"></span>
              </div>
            </div>
            <div>
              <div data-bind="text: bidtrade.enterpriseName"></div>
              <input data-bind="value: everymessage" style="width: 135px;">
              <button class="btn btn-primary btn-sm  m-r-sm" data-bind="click: sendmessage">发送</button>
            </div>
          </div>
        </div>
    </div>

</div>









<% if (htmlWebpackPlugin.options.files.js) { %>
    <% htmlWebpackPlugin.options.files.js.forEach(function(name){ %>
  <script type="text/javascript" src="<%= name %>"></script><% }) %>
<% } %>
 <script type="text/javascript" src="../static/socket/sockjs-1.1.1.js"></script>
 <script type="text/javascript" src="../static/socket/vertx-eventbus.js"></script>
</body>
</html>
