.hidden{
    display:none;
}
.webuploader-container {
    position: relative;
}
.webuploader-element-invisible {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px,1px,1px,1px);
}
.webuploader-pick {
    position: relative;
    display: inline-block;
    cursor: pointer;
    background: transparent;
    padding: 5px 10px;
    color: #00b7ee;
    text-align: center;
    border-radius: 3px;
    overflow: hidden;
}
.webuploader-pick-hover {
    color: #00a2d4;
}

.webuploader-pick-disable {
    opacity: 0.6;
    pointer-events:none;
}
.btn-upload{
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    background-color: #ffffff;
    color: #189cc7;
    font-size: 14px;
    border: solid 1px #189cc7;
    border-radius: 4px;
    width: 30px;
    line-height: 32px;
    text-align: center;
    margin-left: 7px;
    background-image: linear-gradient(to bottom, #FFFFFF 50%, #2590EB 50%);
    background-size: 100% 200%;
    transition: all .5s;
}
.btn-upload:hover{
    /*background-position: 0 -100%;*/
    /*color: #FFF;*/
}
.btn-upload:active{
    background-color: #c3c3c3;
}

.file-info{
    position: relative;
    padding: 5px;
    border: 1px solid #FFF;
    width: 170px;
}
.file-info:hover{
    border: 1px solid #6bcaea;
    background: #e9f7fc;
}
.file-info div{
    display: inline-block;
    vertical-align: top;
}
.file-info .fa{
    font-size: 18px;
    cursor: pointer;
}
.file-info .fa-download {
    position: absolute;
    bottom: 0;
    padding: 5px;
    right: 25px;
}
.file-info .fa-remove {
    color: indianred;
    line-height: 36px;
    display: none;
    position: relative;
    right: -5px;
}
.file-info .fa-download:hover{
    color: #00b7ee;
}
.file-info:hover .fa-remove{
    display:inline-block;
}
.fileicon{
    background: url(/yuncai/img/tags.png) no-repeat;
    background-size: 236px 196px;
    width: 37px;
    height: 38px;
}
.filename{
    width: 104px;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 16px;
    font-size: 12px;
    line-height: 16px;
}
.fileicon-image{
    background-position: -199px -51px;
}
.fileicon-txt{
    background-position: -148px 1px;
}
.fileicon-doc{
    background-position: 0 1px;
}
.fileicon-zip{
    background-position: -199px -158px;
}
.fileicon-xls{
    background-position: -49px 1px;
}
.fileicon-link {
    background-position: -149px -158px;
}
.fileicon-ppt{
    background-position: -96px 1px;
}
.uploader-list .item{
    display: inline-block;
    position: relative;
}
.uploader-list .progress{
    position: absolute;
    top: 24px;
    left: 5px;
    height: 2px;
    margin-bottom: 10px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 1px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    width: 154px;
    display: none;
}
.uploader-list .progress.active{
    display: block;
}
.uploader-list .progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 10px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}
p.state {
    font-size: 12px;
    margin: 5px 0;
    color: #999;
}
.modalfileupload {
    visibility:hidden;
    position: absolute;
    top: -10px;
    right: 100px;
    min-width: 200px;
    min-height: 32px;
    padding: 15px;
    border: solid 1px #36c6f2;
    background-color: #FFF;
}
.modalfileupload.active{
    display: block;
    z-index: 1001;
    visibility:visible;
    margin-bottom: 50px;
}
.view-detail{
    cursor:pointer;
    color:#666;
}
.view-detail:hover{
    color:#333;
}
.inlineblock{
    display:inline-block;
    vertical-align: middle;
}

.btn-upload-text{
    font-size: 18px;
    line-height: 18px;
    color: #1baede !important;
}
