<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if (htmlWebpackPlugin.options.files.css) { %>
    <% htmlWebpackPlugin.options.files.css.forEach(function(name){ %>
    <link rel="stylesheet" type="text/css" href="<%= name %>"> <% }) %>
    <% } %>
    <style media="screen">
      #nav {
        border-right: 3px solid #8D8D8D;
        width: 106px;
        float: left;
        text-align: center;
      }
      #nav li { margin-top: 15px; }
      #nav li a { text-decoration: none;}
      #page { overflow: auto; }
    </style>
</head>
<body>
  <div id="nav">
    <ul>
      <li><button class="btn btn-primary" onclick="relogin()">重新登录</button></li>
      <li><a href="/industrycategory/index.zh_CN.html" target="contractpage" class="btn btn-primary">行业类别</a></li>
      <li><a href="/currency/index.zh_CN.html" target="contractpage" class="btn btn-primary">币种</a></li>
      <li><a href="/contracttype/index.zh_CN.html" target="contractpage" class="btn btn-primary">合同类型</a></li>
      <li><a href="/contractlist/index.zh_CN.html" target="contractpage" class="btn btn-primary">草稿箱</a></li>
      <li><a href="/contract_pu_edit/index.zh_CN.html" target="contractpage" class="btn btn-primary">采购合同</a></li>
    </ul>
  </div>
  <div id="page">
    <iframe id="contractpage" name="contractpage" src="" width="100%" border="0" frameborder="0"></iframe>
  </div>
  <% if (htmlWebpackPlugin.options.files.js) { %>
  <% htmlWebpackPlugin.options.files.js.forEach(function(name){ %>
  <script type="text/javascript" src="<%= name %>"></script><% }) %>
  <% } %>
  <script>
    function relogin(){
      window.localStorage.clear();
      window.location.href = '/yuncai/mobile/login.html?r='+window.location.href;
    }

    $("#nav").height(document.body.scrollHeight);
    $("#contractpage").height(document.body.scrollHeight);
  </script>
</body>
</html>
