<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <% if (htmlWebpackPlugin.options.files.css) { %>
    <% htmlWebpackPlugin.options.files.css.forEach(function(name){ %>
      <link rel="stylesheet" type="text/css" href="<%= name %>">
    <% }) %>
  <% } %>
</head>

<body>
  <div id="container" class="animated fadeIn">
    <box>
      <breadcrumbs params="path:'editBt'"></breadcrumbs>
      <box-sticky params="title:'竞价单'" style="font-size:28px;">
        <div class="u-col-6 text-center">
          <a href="#basic" class="sticky-anchor active">基础信息</a>
          <a href="#claim" class="sticky-anchor">对供应商要求</a>
          <a href="#setting" class="sticky-anchor">竞价设置</a>
          <a href="#template" class="sticky-anchor">报价模板</a>
          <a href="#channels" class="sticky-anchor">发布渠道及联系方式</a>
        </div>
        <div class="u-col-4 text-right">
          <button class="btn btn-primary btn-sm m-r-sm" data-bind="click:$root.publish"><span class="fa fa-send"></span>&nbsp;发布</button>
          <button class="btn btn-primary btn-sm m-r-sm" id="saveId" data-bind="click:$root.save"><span class="fa fa-save" id="savespan">&nbsp;保存</span></button>
          <a href="JavaScript:void(0)" data-bind = "click:function () { return window.history.go(-1)}" class="btn btn-outline btn-sm m-r-sm" style="border:1px solid #aaa"><span class="fa fa-reply"></span>&nbsp;返回</a>
        </div>
      </box-sticky>
      <box-content params="title: $root.titleList[0]" id="basic">
        <div style="padding-top:20px;">
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            <span class="required">*</span>标题
          </label>
          <div class="u-col-3">
            <input type="text" class="u-form-control" data-bind="value: $root.model.ref('title')">
          </div>
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            <span class="required">*</span>采购企业
          </label>
          <div class="u-col-6" id="contact" style="width:300px;">
            <refer params="flag:0,type: 'org', showrefer: $root.chooseOrg, placeholder: '选择组织', showSearch: false, showtext: $root.model.ref('purchaseEn'), value: $root.model.ref('purchaseEn')"></refer>
          </div>
        </div>
        </div>
        <div class="u-col-12" style="padding-right:0;">
          <button class="u-button u-button-info pull-right" data-bind="click: $root.addMaterial" style="margin-bottom:5px;"><i class="uf uf-plus"></i>新增物料</button>
        </div>
        <u-grid params="config: $root.materialListCfg"></u-grid>
      </box-content>

      <box-content params="title: $root.titleList[1]" id="claim">
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            经营模式
          </label>
          <div class="u-col-6">
            <u-checkbox params='data: { model: $root.model, checkboxData: $root.supBusiModeData }, umeta: { "id": "supBM", "data": "model", "field": "supBusinessMode", "datasource": "checkboxData" }'>
            </u-checkbox>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            业务覆盖范围
          </label>
          <div class="u-col-3">
            <input type="text" class="u-form-control" data-bind="value: $root.model.ref('supBusinessScope')">
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            注册资金
          </label>
          <div class="u-col-3">
            <input type="text" class="u-form-control" data-bind="value: $root.model.ref('supRegisterMoney')">
          </div>
          <div class="u-col-2 lineheight36 fontcolor999">(元以上)</div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 text-right u-form-label">
            收货地址
          </label>
          <div class="u-col-3">
            <deliveraddress params="model: $root.model"></deliveraddress>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            竞标保证金
          </label>
          <div class="u-col-3">
            <input type="text" class="u-form-control" data-bind="value: $root.model.ref('bidDeposit')">
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            付款方式
          </label>
          <div class="u-col-6">
            <textarea class="u-form-control" data-bind="value:$root.model.ref('paytype')"></textarea>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            交货条件
          </label>
          <div class="u-col-6">
            <textarea class="u-form-control" data-bind="value:$root.model.ref('deliveryCon')"></textarea>
          </div>
        </div>
        <div class="u-form-group" id="sup_require">
            <label class="u-col-2 u-form-group-sm u-form-label text-right">
              证件要求
            </label>
            <div class="u-col-1">
              <u-switch params='data:{model:$root.model},umeta:{"data":"model","field":"supCertificateRequire"}'>
              </u-switch>
            </div class="u-col-9">
            <div style="line-height:36px;">(要求供应商上传传统五证或三证合一)</div>
            <label class="u-col-2 u-col-offset-2 u-form-group-sm u-form-label text-left" style="width:100px;">
              其他证件
            </label>
            <input type="text" class="u-form-control u-col-3" data-bind="value: $root.model.ref('otherCert')">
          </div>

        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            发票要求
          </label>
          <div class="u-col-6">
            <u-radio params='data: { model: $root.model, checkboxData: $root.supInvReqData }, umeta: { "id": "supIR", "data": "model", "field": "supInvoiceRequire", "datasource": "checkboxData" }'>
            </u-radio>
          </div>
        </div>
        <div class="u-form-group u-col-12">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            竞价附件
          </label>
          <div class="u-col-9 marTop-16 text-left">
          	<filesupload params="bidtradeId:$root.model.ref('bidtradeId'),callbackDatas:function(data){techAttachList(data)},groupname:'bidtrade_editor',readonly:false,id:$root.model.ref('id'), index:0">
						</filesupload>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            其他要求
          </label>
          <div class="u-col-6">
            <textarea class="u-form-control" data-bind="value:$root.model.ref('supOtherRequire')"></textarea>
          </div>
        </div>
      </box-content>

      <box-content params="title: $root.titleList[2]" id="setting">
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            <span class="required">*</span>报名截止时间
          </label>
          <div class="u-col-3">
            <u-datepicker params='data: { model: $root.model }, umeta: { "id": "registEndTime", "data": "model", "field": "registEndTime", "endField": "bidStartTime","type":"u-datetime","format":"YYYY-MM-DD HH:mm:ss"}'></u-datepicker>
          </div>
          <label class="u-col-2 u-col-offset-1 u-form-group-sm u-form-label text-right">
            <span class="required">*</span>竞价开始时间
          </label>
          <div class="u-col-3">
            <u-datepicker params='data: { model: $root.model }, umeta: { "id": "bidStartTime", "data": "model", "field": "bidStartTime", "startField": "registEndTime","type":"u-datetime","format":"YYYY-MM-DD HH:mm:ss"}'></u-datepicker>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            <span class="required">*</span>竞价时长
          </label>
          <div class="u-col-3">
            <input type="text" class="u-form-control" data-bind="value: $root.model.ref('biddingTime')">
          </div>
          <div class="u-col-1 lineheight36 fontcolor999">(分钟)</div>
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            延迟时长
          </label>
          <div class="u-col-3">
            <input type="text" class="u-form-control" data-bind="value: $root.model.ref('delayTime')">
          </div>
          <div class="u-col-1 lineheight36 fontcolor999">(分钟)</div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            限时名次
          </label>
          <div class="u-col-3">
            <input type="text" class="u-form-control" data-bind="value: $root.model.ref('promptList')">
          </div>
          <!--<label class="u-col-2 u-col-offset-1 u-form-group-sm u-form-label text-right">
            <span class="required">*</span>竞价方式
          </label>
          <div class="u-col-3" >
            <u-radio params='data: { model: $root.model, radioData: $root.bidTypeOpt }, umeta: { "id": "bidType", "data": "model", "field": "bidType", "datasource": "radioData" }'>
            </u-radio>
          </div>-->
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            最小价格步长
          </label>
          <div class="u-col-3" style="width: 175px;">
            <u-radio params='data: { model: $root.model, radioData: $root.lowStepOpt }, umeta: { "id": "lowStepOpt", "data": "model", "field": "lowBiddingSteptype", "datasource": "radioData" }'>
            </u-radio>
          </div>
          <div class="u-col-5">
            <input type="text" class="u-form-control pull-left" data-bind="value: $root.model.ref('lowBiddingStep')">
          </div>
          <div class="u-col-1 text-left pull-left lineheight36 fontcolor999" data-bind="visible:$root.byamount">(元)</div>
          <div class="u-col-1 text-left pull-left lineheight36 fontcolor999" data-bind="visible:$root.bypercentage">(%)</div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            最高限价
          </label>
          <div class="u-col-3">
            <input type="text" class="u-form-control" data-bind="value: $root.model.ref('highPrice')">
          </div>
          <div class="u-col-1 lineheight36 fontcolor999">(元)</div>
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            最低限价
          </label>
          <div class="u-col-3">
            <input type="text" class="u-form-control" data-bind="value: $root.model.ref('lowPrice')">
          </div>
          <div class="u-col-1 lineheight36 fontcolor999">(元)</div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            <span class="required">*</span>竞价过程
          </label>
          <div class="u-col-10">
            <u-checkbox params='data: { model: $root.model, checkboxData: $root.bidProcessData }, umeta: { "id": "bidPc", "data": "model", "field": "bidProcess", "datasource": "checkboxData" }'>
            </u-checkbox>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            <span class="required">*</span>资格审核
          </label>
          <div class="u-col-6">
            <u-radio params='data: { model: $root.model, radioData: $root.preQlfOpt }, umeta: { "id": "preQlf", "data": "model", "field": "qualifiedAudit", "datasource": "radioData" }'>
            </u-radio>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            监督人
          </label>
          <div class="u-col-1">
            <u-switch params='data:{model:$root.model},umeta:{"data":"model","field":"hasSuperviseDept"}'>
            </u-switch>
          </div>
          <div class="u-col-6" >
            <refers id='isOpenId' data-bind="visible:$root.model.ref('hasSuperviseDept')()==1" params="type: 'person', showrefer: $root.chooseSupervisor; placeholder: '选择监督人',showtext: $root.model.ref('supervisors_')()==null ? $root.supervisors_ : $root.model.ref('supervisors_'),showeachtext: $root.model.ref('supervisorName'), value: $root.model.ref('supervisorId')"></refers>
          </div>
        </div>
      </box-content>

      <box-content params="title: $root.titleList[3]" id="template">
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            <span class="required">*</span>报价模版
          </label>
          <div class="u-col-6">
            <u-radio params='data: { model: $root.model, radiodata: $root.quoteModeOpt }, umeta: { "id": "qMode", "data": "model", "field": "quoteMode", "datasource": "radiodata" }'>
            </u-radio>
          </div>
        </div>
        <div data-bind="visible:$root.model.ref('quoteMode')()==1">
          <div class="u-col-12" style="padding-right:0;">
            <button class="u-button u-button-info pull-right" data-bind="click: $root.addTemplete" style="margin-bottom:5px;"><i class="uf uf-plus"></i>添加报价项信息</button>
          </div>
          <div id="templete_list">
            <u-grid params="config: $root.templeteListCfg"></u-grid>
          </div>
       </div>

        <u-grid id="materialList" params="config: $root.materialListCfg1"></u-grid>

      </box-content>

      <box-content params="title: $root.titleList[4]" id="channels">
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            <span class="required">*</span>竞价范围
          </label>
          <div class="u-col-3" id="div_iqSO">
            <u-checkbox params='data: { model: $root.model, checkboxData: $root.inquiryScopeOpt }, umeta: { "id": "iqSO", "data": "model", "field": "inquiryScope", "datasource": "checkboxData" }'>
            </u-checkbox>
          </div>
          <div id="bd_inquirytype" class="u-col-7" data-bind="visible:$root.inquiryTypeVis">
            <label class="u-col-3 u-form-group-sm u-form-label text-right">
              竞价方式
            </label>
            <div class="u-col-9" id="inquiry_type">
              <u-checkbox params='data: { model: $root.model, checkboxData: $root.inquiryTypeOpt }, umeta: { "id": "iqSO", "data": "model", "field": "inquiryType", "datasource": "checkboxData" }'>
              </u-checkbox>
              <div id="suppliers" data-bind="foreach: { data: $root.supplierModel.rows(), as: 'row' }">
                  <span class="u-tag u-tag-info" style="color: white; margin-right: 10px;" data-bind="text: row.ref('supplierName')"></span>
              </div>
            </div>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            <span class="required">*</span>联系方式
          </label>
          <div class="u-col-6">
            <u-radio params='data: { model: $root.model, radioData: $root. contactTypeOpt }, umeta: { "id": "conType", "data": "model", "field": "contactType", "datasource": "radioData" }'>
            </u-radio>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            <span class="required">*</span>联系人
          </label>
          <div class="u-col-6" id="contact" style="width:300px;">
            <refer params="type: 'person', showrefer: $root.chooseContact, showSearch: false, placeholder: '选择联系人', showtext: $root.model.ref('contact'), value: $root.model.ref('contact')"></refer>
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            <span class="required">*</span>联系电话
          </label>
          <div class="u-col-6" style="width:300px;">
            <input type="text" class="u-form-control" maxlength=20 data-bind="value: $root.model.ref('tel')">
          </div>
        </div>
        <div class="u-form-group">
          <label class="u-col-2 u-form-group-sm u-form-label text-right">
            邮件地址
          </label>
          <div class="u-col-6" style="width:300px;">
            <input type="text" class="u-form-control" data-bind="value: $root.model.ref('email')">
          </div>
        </div>
      </box-content>
    </box>
  </div>

  <% if (htmlWebpackPlugin.options.files.js) { %>
    <% htmlWebpackPlugin.options.files.js.forEach(function(name){ %>
      <script type="text/javascript" src="<%= name %>"></script>
    <% }) %>
  <% } %>
</body>
</html>
