<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
<% if (htmlWebpackPlugin.options.files.css) { %>
    <% htmlWebpackPlugin.options.files.css.forEach(function(name){ %>
  <link rel="stylesheet" type="text/css" href="<%= name %>"> <% }) %>
<% } %>
<script type="text/javascript" src="http://172.20.14.96:9097/js/sockjs-1.1.1.js"></script>
<script type="text/javascript" src="http://172.20.14.96:9097/js/vertx-eventbus.js"></script>

</head>
<body>
<div id="container" class="u-container-fluid u-widget-bg">

    <div class="u-row">
        <div class="u-col-9">
          <div class="ibox-content" style="    height: 500px;">
            <div class="u-col-4">
              <p>竞价排名(共<span data-bind="text:quote.rows().length"></span>家)</p>
              <ul>
                <!-- ko foreach:quote.rows() -->
                <li><span data-bind="text:$data.ref('supplyName')()"></span>¥<span data-bind="text:$data.ref('initprice')()"></span> 第<span >1</span>次 </li>
                <!-- /ko -->
              </ul>
            </div>  
            <div class="u-col-8">
              <div id="chart" ></div>
              <table  borderColor=#000000 width="100%" cellSpacing=0  align=left bgColor=#ffffff border=1>
                  <thead>
                    <tr>
                        <th>序号</th>
                        <th>代号</th>
                        <th>最新报价(元)</th>
                        <th>初始报价(元)</th>
                        <th>幅度</th>
                        <th>时间</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- ko foreach:quote.rows() -->
                      <tr>
                        <td data-bind="text:$index()+1"></td>  
                        <td data-bind="text:$data.ref('supplyName')()"></td>  
                        <td data-bind="text:$data.ref('latestprice')()"></td>  
                        <td data-bind="text:$data.ref('initprice')()"></td>  
                        <td data-bind="text:$data.ref('scope')()"></td>  
                        <td data-bind="time:$data.ref('bidtime')()"></td>  
                      </tr>
                    <!-- /ko -->
                  </tbody>
              </table>                      
            </div>  
          </div>
        </div>
        <div class="u-col-3">
          <div class="ibox-content" style="    height: 500px;">
            <p>竞价规则</p>
            <div class="">
              <label class=" u-col-6 text-right padding-5 u-form-label">
                 控制开启时间:</label>
              <div class="u-col-6 padding-5">
                  &nbsp;
                  <span data-bind="text:rule.id"></span>
              </div>
            </div>
            <div class="">
              <label class=" u-col-6 text-right padding-5 u-form-label">
                 竞价时长:</label>
              <div class="u-col-6 padding-5">
                  &nbsp;
                  <span data-bind="text:rule.biddingTime"></span>
              </div>
            </div>
            <div class="">
              <label class=" u-col-6 text-right padding-5 u-form-label">
                 延迟时长:</label>
              <div class="u-col-6 padding-5">
                  &nbsp;
                  <span data-bind="text:rule.delayTime"></span>
              </div>
            </div>
            <div class="">
              <label class=" u-col-6 text-right padding-5 u-form-label">
                 限时名次:</label>
              <div class="u-col-6 padding-5">
                  &nbsp;
                  <span data-bind="text:rule.id"></span>
              </div>
            </div>
            <div class="">
              <label class=" u-col-6 text-right padding-5 u-form-label">
                 竞价方式:</label>
              <div class="u-col-6 padding-5">
                  &nbsp;
                  <span data-bind="text:rule.bidType"></span>
              </div>
            </div>
            <div class="">
              <label class=" u-col-6 text-right padding-5 u-form-label">
                 最小价格步长:</label>
              <div class="u-col-6 padding-5">
                  &nbsp;
                  <span data-bind="text:rule.id"></span>
              </div>
            </div>
            <div class="">
              <label class=" u-col-6 text-right padding-5 u-form-label">
                 最高限价:</label>
              <div class="u-col-6 padding-5">
                  &nbsp;
                  <span data-bind="text:rule.highPrice"></span>
              </div>
            </div>
            <div class="">
              <label class=" u-col-6 text-right padding-5 u-form-label">
                 最低限价:</label>
              <div class="u-col-6 padding-5">
                  &nbsp;
                  <span data-bind="text:rule.lowPrice"></span>
              </div>
            </div>
            <div class="">
              <label class=" u-col-6 text-right padding-5 u-form-label">
                 竞价过程:</label>
              <div class="u-col-6 padding-5">
                  &nbsp;
                  <span data-bind="text:rule.bidProcess"></span>
              </div>
            </div>

          </div> 
        </div>
    </div>  
    <div class="u-row">
        <div class="u-col-9">
            <div class="ibox-content" style="    height: 300px;">
                  <div>
                      <h3 class="ibox-content-title">报价模板</h3>
                      <div class="pull-right showtimehide padding-10" >
                         <button class="u-button u-button-info"  >查看报价要求</button>
                       

                      </div>
                  </div>
                  <div >
                    <p><input type="checkbox"> 总价报价</p>
                    <div class="u-right ">上次出价</div>
                    <p>报价单元</p>
                    <div class="u-row">
                    <div class="u-col-4">产品总价:<input /></div>
                    <div class="u-col-4">物流费用:<input /></div>
                    <div class="u-col-4">合计金额:<input /></div>
                    
                    <div class="pull-right showtimehide padding-10" >
                         <button class="u-button u-button-info"  >立刻报价</button>
                    </div>
                      <table  borderColor=#000000 width="100%" cellSpacing=0  align=left bgColor=#ffffff border=1>
                          <thead>
                            <tr>
                                <th>物料信息</th>
                                <th>采购数量</th>
                                <th>送货地址</th>
                                <th>需求时间</th>
                                <th>含税价格</th>
                                <th>税率</th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- ko foreach:bjxx -->
                              <tr>
                                <td data-bind="text:$index()+1"></td>  
                                <td data-bind="text:$data.dh"></td>  
                                <td data-bind="text:$data.zxbj"></td>  
                                <td data-bind="text:$data.bj"></td>  
                                <td data-bind="text:$data.bj-$data.zxbj"></td>  
                                <td data-bind="time:$data.date"></td>  
                              </tr>
                            <!-- /ko -->
                          </tbody>
                      </table>                     </div>
                  </div>
              </div>
        </div>    
        <div class="u-col-3">
          <div class="ibox-content" style="    height: 300px;">
            <ul>
              <li><span>13:09:24</span><span>法冻</span><span>三缺一,赶紧的</span></li>
              <li><span>13:10:24</span><span>法冻</span><span>三缺一,赶紧的</span></li>
              <li><span>13:11:24</span><span>法冻</span><span>三缺一,赶紧的</span></li>
              <li><span>13:12:24</span><span>管理员</span><span>法冻已被禁言</span></li>
              
            </ul>
          </div>
        </div>
    </div>


</div>









<% if (htmlWebpackPlugin.options.files.js) { %>
    <% htmlWebpackPlugin.options.files.js.forEach(function(name){ %>
  <script type="text/javascript" src="<%= name %>"></script><% }) %>
<% } %>
</body>
</html>
