<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title><%= htmlWebpackPlugin.options.title %></title>
<% if (htmlWebpackPlugin.options.files.css) { %>
    <% htmlWebpackPlugin.options.files.css.forEach(function(name){ %>
  <link rel="stylesheet" type="text/css" href="<%= name %>"> <% }) %>
<% } %>
 

</head>
<body>
<div id="container" class="u-container-fluid u-widget-bg">
    <breadcrumbs params="path:'bdMonitor'"></breadcrumbs>
    <box-sticky id="monitorsticky">
      <div class="u-col-4" style="width: 300px;">
        <div class="u-col-12" style="font-size: 22px;margin-bottom:5px;"><span data-bind="text:$parent.bidtrade.title"></span></div>
        <div class="u-col-12" >
          <span>编号：</span><span data-bind="text:$parent.bidtrade.code"></span>
          <span>发起方：</span><span data-bind="text:$parent.bidtrade.enterpriseName"></span>
        </div>
      </div>
      <div class="u-col-4 text-right" style="line-height:47px;padding-top:10px;">
        <div id="timer" style="display: inline-block;"></div>
      </div>
      <div class="u-col-4 text-right" style="line-height:47px;">
        <button class="btn btn-primary m-r-sm " data-bind="click:$parent.delay,visible:$parent.delayBtn,">&nbsp;延时</button>
        <button class="btn btn-primary m-r-sm " data-bind="click:$parent.closeroom,visible:$parent.closeroomBtn">&nbsp;终止</button>
        <a class="btn btn-outline m-r-sm" style="border:1px solid #aaa;" data-bind = "click:function () { return window.history.go(-1)}">返回</a>
      </div>
    </box-sticky>
    <div class="u-row" style="padding-left:1px">
        <div class="u-col-3">
          <div class="ibox-content" style="height: 510px;">
            <p class="rank">&nbsp;&nbsp;竞价排名(共<span data-bind="text:sort().length"></span>家)</p>
            <ul class="ranking">
              <!-- ko foreach:sort -->
              <li>&nbsp;&nbsp;<span style="position: absolute; margin-top: 8px;" data-bind="text:$index()+1" class="index"></span>
                <span style="margin-left:30px" class="money">¥</span><span data-bind="text:latestPrice" class="money"></span>
                <!--第<span data-bind="text:bidRound"></span>次-->
                <span style="display:block;margin-left:35px;" data-bind="text:supplyName"></span>
              </li>
              <!-- /ko -->
            </ul>
            </div>
        </div>
        <div class="u-col-6 ibox-content " style="height: 510px; OVERFLOW: auto; ">
              <div id="chart" ></div>
              <table class="styleone"  borderColor=#000000 width="100%" rules=rows cellspacing=0  align=left >
                  <thead>
                    <tr >
                        <th>序号</th>
                        <th>报价方</th>
                        <th>最新报价(元)</th>
                        <th>初始报价(元)</th>
                        <th>幅度</th>
                        <th>时间</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- ko foreach:history -->
                      <tr>
                        <td data-bind="text:$index()+1"></td>
                        <td data-bind="text:supplyName"></td>
                        <td data-bind="text:latestPrice"></td>
                        <td data-bind="text:initPrice"></td>
                        <td data-bind="text:range"></td>
                        <td data-bind="datetime:bidTime"></td>
                      </tr>
                    <!-- /ko -->
                  </tbody>
              </table>
            </div>
        <div class="u-col-3">
          <div class="ibox-content" style="height: 510px;">
            <p class="rank">竞价规则</p>
            <div class="u-row">
              <label class=" u-col-4 text-left padding-5 u-form-label">
                 开始时间:</label>
              <div class="u-col-8 padding-5">
                 <span data-bind="text:bidStartTime"></span>
              </div>
            </div>
            <div class="u-row">
              <label class=" u-col-4 text-left padding-5 u-form-label">
                 竞价时长:</label>
              <div class="u-col-6 padding-5">
                  <!--&nbsp;-->
                  <span data-bind="text:rule.biddingTime"></span>&nbsp;<span style="color:red">(分钟)</span>
              </div>
            </div>
            <div class="u-row">
              <label class=" u-col-4 text-left padding-5 u-form-label">
                 延迟时长:</label>
              <div class="u-col-6 padding-5">
                  <!--&nbsp;-->
                  <span data-bind="text:rule.delayTime"></span>
              </div>
            </div>
            <div class="u-row">
              <label class=" u-col-4 text-left padding-5 u-form-label">
                 限时名次:</label>
              <div class="u-col-6 padding-5">
                  <!--&nbsp;-->
                  <span data-bind="text:rule.promptList"></span>
              </div>
            </div>
            <div class="u-row">
              <label class=" u-col-4 text-left padding-5 u-form-label">
                 竞价方式:</label>
              <div class="u-col-6 padding-5">
                  <span data-bind="text:bidType"></span>
              </div>
            </div>
            <div class="u-row">
              <label class=" u-col-6 text-left padding-5 u-form-label">
                 最小价格步长:</label>
              <div class="u-col-6 padding-5">
                  <span data-bind="text:rule.lowBiddingStep"></span>&nbsp;<span style="color:red">(元)</span>
              </div>
            </div>
            <div class="u-row">
              <label class=" u-col-4 text-left padding-5 u-form-label">
                 最高限价:</label>
              <div class="u-col-6 padding-5">
                  <!--&nbsp;-->
                  <span data-bind="text:rule.highPrice"></span>&nbsp;<span style="color:red">(元)</span>
              </div>
            </div>
            <div class="u-row">
              <label class=" u-col-4 text-left padding-5 u-form-label">
                 最低限价:</label>
              <div class="u-col-6 padding-5">
                  <!--&nbsp;-->
                  <span data-bind="text:rule.lowPrice"></span>&nbsp;<span style="color:red">(元)</span>
              </div>
            </div>
            <div class="u-row"> 
              <label class=" u-col-4 text-left padding-5 u-form-label">
                 竞价过程:</label>
              <div class="u-col-6 padding-5">
                  <!--&nbsp;-->
                  <span data-bind="text:bidProcess"></span>
              </div>
            </div>

          </div>
        </div>
    </div>
    <div class="u-row" id="quotedetails">
        <div class="u-col-9" style="padding-right: 0px; ">
            <div class="ibox-content" style="height: 380px;">
                  <div class="switch">
                    <ul id="tabs">
                      <li class="pull-left tab-nav-action" style="margin-right:10px;cursor:pointer;float:left;">报价中</li>
                      <li class="pull-left tab-nav" style="cursor:pointer;">已淘汰</li>
                    </ul>
                  </div>
                  <div id="tabs-body" style="height: 230px;overflow:auto;overflow-x:hidden">
                    <div class="u-row wid" style="display:block">
                      <table style="border: 1px solid #ccc;margin-left: 5px;" borderColor=#000000 borderColor=#000000 width="98%" rules=rows cellspacing=0  align=left >
                          <thead>
                            <tr colspan="4">
                                <th>供应商</th>
                                <th>状态</th>
                                <th>报价</th>
                                <th>最新报价</th>
                                <th>最初报价</th>
                                <th>降价幅度</th>
                                <th>最新报价时间</th>
                                <th>报价轮次</th>
                                <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- ko foreach:supply -->
                              <tr>
                                <td data-bind="text:supplyName"></td>
                                <td data-bind="text:isquote"></td>
                                <td data-bind="text:bidPrice"></td>
                                <td data-bind="text:latestPrice"></td>
                                <td data-bind="text:initPrice"></td>
                                <td data-bind="text:range"></td>
                                <td data-bind="datetime:bidTime"></td>
                                <td data-bind="text:bidRound"></td>
                                <td data-bind="visible:$parent.operateVis">
                                  <a data-bind="attr: {href: '../bidmonitorInfo/index.zh_CN.html?supplyId='+supplyId+'&tradeid='+bidtradeId}">查看详情</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                                  <a href="javascript:void(0);" data-bind="click:$parent.deleteUser">踢出竞价</a>
                                </td>
                              </tr>
                            <!-- /ko -->
                          </tbody>
                       </table>
                      </div>
                  <div class="u-row wid" style="display:none">
                    <table style="border: 1px solid #ccc;margin-left: 5px;" borderColor=#000000 borderColor=#000000 width="98%" rules=rows cellspacing=0  align=left >
                          <thead>
                            <tr colspan="4">
                                <th>供应商</th>
                                <th>状态</th>
                                <th>报价</th>
                                <th>最新报价</th>
                                <th>最初报价</th>
                                <th>降价幅度</th>
                                <th>最新报价时间</th>
                                <th>报价轮次</th>
                                <th data-bind="visible:kickVis">踢出原因</th>
                                <th></th>
                            </tr>
                          </thead>
                          <tbody>
                            <!-- ko foreach:outsupply -->
                              <tr>
                                <td data-bind="text:supplyName"></td>
                                <td data-bind="text:isquote"></td>
                                <td data-bind="text:bidPrice"></td>
                                <td data-bind="text:latestPrice"></td>
                                <td data-bind="text:initPrice"></td>
                                <td data-bind="text:range"></td>
                                <td data-bind="datetime:bidTime"></td>
                                <td data-bind="text:bidRound"></td>
                                <td data-bind="visible:$parent.kickVis,text:$parent.kickReason"></td>
                                <td>
                                  <a href="javascript:void(0);" data-bind="click:$parent.restoreUser">恢复竞价</a>
                                </td>
                              </tr>
                            <!-- /ko -->
                          </tbody>
                       </table>
                  </div>
                </div>
          </div>
       </div>
        <div class="u-col-3">
          <div class="ibox-content" style="height: 380px;margin-left:4px;">
          <p class="rank">聊天室</p>
            <div class="palne-message" data-bind="foreach: message">
              <div class="message">
                <div data-bind="text:sendtime"></div>
                <span data-bind="text: info"></span>
                <span class="message-name" data-bind="text: text"></span>
              </div>
            </div>
            <div>
              <select style="width:200px;height: 25px;"id="testSelect">
                <option value="all">全部</option>
                <!-- ko foreach:select -->
                <option data-bind="value: id, text: name"></option>
                <!-- /ko -->
              </select>
              <input style="width: 140px;" data-bind="value: everymessage">
              <button class="btn btn-primary btn-sm  m-r-sm" data-bind="click: sendmessage" id="sendmessage">发送</button>
            </div>
          </div>
        </div>
    </div>
   </div>
</div>








<% if (htmlWebpackPlugin.options.files.js) { %>
    <% htmlWebpackPlugin.options.files.js.forEach(function(name){ %>
  <script type="text/javascript" src="<%= name %>"></script><% }) %>
<% } %>
 <script type="text/javascript" src="../static/socket/sockjs-1.1.1.js"></script>
 <script type="text/javascript" src="../static/socket/vertx-eventbus.js"></script>
</body>
</html>
